<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<services>
			<service name="UACServiceLibrary.CredentialProviderService" behaviorConfiguration="CredentialProviderServiceBehavior"  >
				<host>
					<baseAddresses >
						<add baseAddress="net.tcp://localhost:8888/CredentialProviderService"/>
					</baseAddresses>
				</host>

				<!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="UACServiceLibrary.ICredentialProviderService"/>-->

				<endpoint address="net.tcp://localhost:8888/CredentialProviderService" binding="netTcpBinding" bindingConfiguration="TCPBinding" contract="UACServiceLibrary.ICredentialProviderService" />
				
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
				
			</service>


		</services>

		<bindings>
			<!--<basicHttpBinding>
				<binding bypassProxyOnLocal="true" name="BasicHttpBinding" ></binding>
			</basicHttpBinding>-->
			
			<netTcpBinding>
				<binding  name="TCPBinding"></binding>
			</netTcpBinding>
  
      
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="CredentialProviderServiceBehavior">
					<!--<serviceMetadata httpGetEnabled="true"/>-->
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>

			</serviceBehaviors>

		</behaviors>
	</system.serviceModel>

</configuration>
