<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jamsaz.Launcher.BusinessObject.Properties.Settings.JamsazERPLiteConnectionString"
            connectionString="Data Source=atlas;Initial Catalog=JamsazERPLite;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>